

* {
  box-sizing: border-box;
}

body {
  font-family: $font-open-sans;
}

a {
  text-decoration: none;
}

.container {
  width: 1352px;
  margin: 0 auto;

  @include notebook {
    width: 100%;
    padding: 0 15px;
  }
}

ul, li {
  list-style-type: none;
}