
// colors
$color-primary: #08A6E4;
$color-primary-bg: #FFFFFF;
$color-secondary-bg: #f7f7f7;
$color-primary-font: #000000;
$color-secondary-font: #A5A5A5;
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-shadow: #00000029;

// fonts
$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

// other
$button-radius: 35px;