.calc {
  padding: 80px 0;
  background-color: $color-secondary-bg;

  @include tablet {
    padding: 30px 15px;
  }

  h2 {
    text-align: center;
    font-family: $font-raleway;
    font-size: 2.25rem;
  }

  &__columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: flex;

    @include tablet {
      display: block;
    }
  }

  &__form {
    width: 50%;
    margin-right: 20px;

    @include tablet {
      width: 100%;
      margin-right: 0;
    }
  }


  &__input input,
  &__select .select__input {
    color: $color-secondary-font;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $color-primary;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0px 3px 6px $color-shadow;
    margin-bottom: 20px;
    background-color: $color-primary-bg;
  }

  &__input {
    input {
      &::placeholder {
        color: $color-secondary-font;
      }
    }
  }

  &__select {
    position: relative;

    .select__input {
      position: relative;
      height: 40px;
      vertical-align: middle;
      padding: 13px 20px;
      cursor: pointer;

      &::after {
        content: "";
        background-image: url("../../Assets/Arrow.svg");
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        right: 14px;
        top: 9px;
      }
    }

    .select__dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
      border-radius: 6px;
      border: 1px solid $color-redish;
      overflow: hidden;

      li {
        font-size: 13px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: $color-secondary-bg;
        }
      }
    }


    &.open {
      .select__input::after {
        transform: rotate(180deg);
      }

      .select__dropdown {
        display: block;
      }
    }
  }

  .checkbox {
    cursor: pointer;
    display: flex;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked + span {
        background-image: url("../../Assets/Checkmark.svg");
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    span {
      height: 22px;
      width: 22px;
      flex-shrink: 0;
      flex-basis: 22px;
      border: 1px solid #D1D1D1;
      cursor: pointer;
      margin-right: 15px;
      border-radius: 5px;
      background-color: white;
    }

    &__label {
      font-size: 0.75rem;
      color: #707070;
      line-height: 17px;
      padding-bottom: 15px;
    }
  }

  &__summary {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }

    .summary__total,
    .list__item {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      color: $color-primary-bg;
      font-size: 0.875rem;
      display: none;

      &.open {
        display: flex;
      }
    }

    .summary__total {
      width: 50%;
      align-self: flex-end;
      margin-top: 22px;
      padding: 8px 20px;
      background-color: $color-primary;

      .total__price {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }

    .list__item {
      padding: 6px 20px;
      background-color: $color-green;
      margin-bottom: 8px;

      .item {
        &__price {
          font-weight: 700;
          font-size: 1.125rem;
        }
      }
    }
  }
}
