
.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__heading {
    font-family: $font-raleway;
    font-weight: 400;
    font-size: 3.6875rem;
    margin: 120px 0 20px 0;

    @include mobile {
      margin-top: 100px;
    }
  }

  &__description {
    font-family: $font-open-sans;
    font-size: 1rem;
    text-align: center;
    line-height: 1.375rem;
    margin: 20px 0 38px 0;
    padding: 0 70px;
  }

  &__bg__image {
    width: 100%;
    height: auto;

    @include mobile {
      width: 220%;
    }
  }

  @include mobile {
    .btn {
      padding: 16px 92px;
    }
  }
}


