.statistics {
  &__heading {
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    font-family: $font-raleway;
    padding: 100px 0;

    @include mobile {
      padding: 60px 35px;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 120px 100px;

    @include mobile {
      flex-direction: column;
    }

    .statistics__section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      @include mobile {
        padding: 20px 0;
      }

      div.red::after {
        content: url("../../Assets/Person.svg");
        height: 52px;
        width: 44px;
        position: relative;
        left: 20px;
        top: 4px;
      }

      div.blue::after {
        content: url("../../Assets/Eye.svg");
        height: 52px;
        width: 44px;
        position: relative;
        left: 20px;
        top: 15px;
      }

      div.green::after {
        content: url("../../Assets/Catalog.svg");
        height: 52px;
        width: 44px;
        position: relative;
        left: 25px;
        top: 5px;
      }
    }

    .circle {
      height: 62.71px;
      width: 62.71px;
      border-radius: 50%;
      align-self: center;
      margin-bottom: 14px;
    }

    .red {
      background-color: $color-redish;
    }
    .blue {
      background-color: $color-primary;
    }
    .green {
      background-color: $color-green;
    }

    .statistics__number {
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: center;
      letter-spacing: 5.96px;
      font-family: var(--raleway-font);
      font-weight: 800;
      padding-bottom: 19.11px;
    }

    .statistics__description {
      font-size: 1.0625rem;
      line-height: 1.25rem;
      text-align: center;
      font-weight: 400;
      color: $color-secondary-font;
    }
  }
}



